.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid rgb(248, 225, 190);
    position: sticky;
    top: 0;
    background-color: rgb(250, 223, 182);
    color: black;
    z-index: 999;

    .left{
        display: flex;
        align-items: center;
        gap: 30px;

        span{
            font-weight: bold;
            font-size: 50px;
            color: black;
        }
    }

    .right{
        display: flex;
        align-items: center;
        gap: 20px;

        .user{
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;

            img{
                width: 30px;
                height: 30px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}